{% load static %}

<table class="carts-tb">
    <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Товары</th>
            <th>Всего товаров</th>
            <th>Сумма товаров</th>
        </tr>
    </thead>
        
    <tbody>
        {% for cart in carts %}
            <tr class="align-rows">
                <td>#{{cart.id}}</td> <!-- ID -->
                <td>{{cart.customer}}</td> <!-- Пользователь -->
                <!-- Django (get_<FOO>_display) -->
                <td class="cart_status--{{cart.status}}">{{ cart.get_status_display }}</td> <!-- Статус -->
                <td>{{ cart.created_at|date:"d.m.Y H:i" }}</td> <!-- Дата и время -->
                <!-- Товары -->
                <td>
                    <ul class="prod-list">
                        {% for item in cart.products.all %}
                            <li>{{item}} <span class="quantity-st">x {{item.quantity}}</span></li>
                        {% empty %}
                            <li>Данные о товарах отсутствуют.</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="prod-amount"> {{ cart.products_amount }} </td> <!-- Всего товаров -->
                <td>{{cart.total_price}} рублей</td>
                <td class="btn-row"><button class="editcart-btn">Изменить</button></td>
            </tr>
        {% endfor %}
    </tbody>

    </table>